*{
    padding: 0;
    margin: 0;
}

.cabeza{
    display: flex;
    background-color: aliceblue;
    box-shadow: rgb(77, 77, 77) 0px 5px 5px 2px;
}

header{
    display: flex;
    margin: 30px;
}

.line{
    background-color: black;
    padding: 0.1px;
    margin-left: 20px;
    margin-right: 20px;
}

.perfil{
    width: 60px;
    border-radius: 50px;
    box-shadow: black 0px 2px 8px 0px;
}

.name{
    display: block;
    margin-left: 20px;
    margin-top: 15px;
}

.separador{
    background-color: black;
    padding: 0.1px;
    margin-left: 23px;
    box-shadow: gray 0px 1px 3px 1px;
}

.menu{
    border: none;
    display: flex;
    margin-right: 50px;
    left: 120%;
    position: relative;
    cursor: pointer;
    text-align: center;
    top: 14px;
    background-color:rgb(129, 149, 167);
    margin-bottom: 15px;
    padding: 13px 13px 13px 13px;
    border-radius: 20px;
    box-shadow: black 0px 0px 5px 0px;
}

.container{
    margin-top: 15%;
    justify-content: center;
    text-align: center;
    padding: auto;
}

h2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.project{
    justify-content: center;
    padding: 12px;
    background-color: rgb(129, 149, 167);
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px 0px;
}

.nul{
    display: flex;
    background-color: aliceblue;
    margin: 0;
    margin-top: 18.5%;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.images{
    text-align: center;
}

.img1{
    width: 400px;
    margin-top: 300px;
}

.img2{
    margin-top: -60px;
}

.sect1{
    display: flex;
    margin: 0;
    padding: 0;
}

.nul2{
    display: flex;
    background-color: aliceblue;
    margin: 0;
    margin-top: 15%;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.733);
    margin-left: 200px;
    width: 700px;
    padding: 50px;
    text-align: center;
    margin-top: 200px;
}

.nul3{
    display: flex;
    background-color: aliceblue;
    margin: 0;
    margin-top: 13%;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.person{
    display: flex;
    width: 300px;
    margin-left: 68%;
    margin-top: -29%;
}

.constancias{
    justify-content: center;
    padding: 12px;
    background-color: rgb(129, 149, 167);
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px 0px;
    font-size: 15px;
}

.misproyect{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.card{
    margin-top: 10%;
}

.fin{
    margin-top: 8%;
    background-color: rgb(215, 224, 235);
    padding: 10px;
    font-size: 20px;
}

.contact{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont{
    margin-left: 48.5%;
}

.mail{
    margin-top: -10px;
    width: 70px;
}

.copy{
    text-align: center;
    margin: 0;
}

